{% extends "layout.html"%}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="naglowek">
                    Ogólna zasada ruchów jest taka, że nie można przechodzić przez zajęte pola, wyjątkiem od tego jest skoczek.
                    Bicie odbywa się w momencie wejścia, według zasad ruchu, na przeciwną figurę. Na żółto zaznaczone możliwe ruchy.
                </div>
            </div>

            <div class="row">               
                <div id="pion" class="strona col-lg-4 col-sm-6">
                    <img src="{{url_for('static', filename='Pion.png')}}" height="200" onclick="pion()">

                </div>
                
                <div id="wieza" class="strona col-sm-6 col-lg-4">
                    <img src="{{url_for('static', filename='Wieza.png')}}" height="200" onclick="wieza()">
                </div>

                <div id="konik" class="strona col-lg-4 col-sm-6">
                    <img src="{{url_for('static', filename='Konik.png')}}" height="200" onclick="konik()">
                </div>

            </div>

            <div id="ruchy2" class="row">               
                
                    

                
            </div>

            <div class="row">  
                <div id="goniec" class="strona col-lg-4 col-sm-6">
                    <img src="{{url_for('static', filename='Goniec.png')}}" height="200" onclick="goniec()">
                </div>

                <div id="hetman" class="strona col-lg-4 col-sm-6">
                    <img src="{{url_for('static', filename='Hetman.png')}}" height="200" onclick="hetman()">
                </div>

                <div id="krol" class="strona col-lg-4 col-sm-6">
                    <img src="{{url_for('static', filename='Krol.png')}}" height="200" onclick="krol()">
                </div>
            </div>
            
            <div id="ruchy" class="row">               
                
                    

                
            </div>
            
        </div>
{% endblock %}