{% extends "layout.html"%}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="naglowek">
                    Ogólna zasada ruchów jest taka, że nie można przechodzić przez zajęte pola, wyjątkiem od tego jest skoczek.
                    Bicie odbywa się w momencie wejścia, według zasad ruchu, na przeciwną figurę. Na żółto zaznaczone możliwe ruchy.
                </div>
            </div>

            <div class="row">               
                <div  class="strona col-4">
                    <img id="pion" src="{{url_for('static', filename='PionGraf.png')}}" height="200" onclick="klikanie(this)">

                </div>
                
                <div class="strona col-4">
                    <img id="wieza" src="{{url_for('static', filename='WiezaGraf.png')}}" height="200" onclick="klikanie(this)">
                </div>

                <div class="strona col-4">
                    <img id="konik" src="{{url_for('static', filename='KonikGraf.png')}}" height="200" onclick="klikanie(this)">
                </div>

            </div>

            <div id="ruchy2" class="row">               
                
                    

                
            </div>

            <div class="row">  
                <div class="strona col-4">
                    <img id="goniec" src="{{url_for('static', filename='GoniecGraf.png')}}" height="200" onclick="klikanie(this)">
                </div>

                <div class="strona col-4">
                    <img id="hetman" src="{{url_for('static', filename='HetmanGraf.png')}}" height="200" onclick="klikanie(this)">
                </div>

                <div class="strona col-4">
                    <img id="krol" src="{{url_for('static', filename='KrolGraf.png')}}" height="200" onclick="klikanie(this)">
                </div>
            </div>
            
            <div id="ruchy" class="row">               
                
                    

                
            </div>
            
        </div>
{% endblock %}