{% extends "layout.html"%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="naglowek">
            Pierwsze posunięcie wykonują białe, następnie gracze wykonują ruchy na przemian.
             Wykonanie ruchu jest obowiązkowe; nie można z niego zrezygnować, nawet wtedy, gdy ma on prowadzić do strat czy przegranej.
              Gra toczy się do zamatowania jednego z króli, rezygnacji gracza z dalszej gry lub gdy nastąpił remis.
               Dodatkowo jeśli gra ograniczona jest kontrolą czasu, to gracz, który przekroczył czas, przegrywa.           
        </div>
    </div>
</div>
{% endblock %}